body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("img/food_images.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 300px;
    padding: 2rem;
    border: 2px solid #707070;
    border-radius: 0.5rem;
    background-color: white;
}

.form .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form input[type="email"],
.form input[type="password"] {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 90%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #9c9c9c60;
    outline: 2px solid #707070;
}

.form input[type="email"]:focus,
.form input[type="password"]:focus {
    outline: 2px solid black;
}

.label {
    align-self: flex-start;
    color: black;
    font-weight: 600;
}

.form .submit {
    padding: 1rem 0.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
}

.form .submit:hover {
    background-color: #707070;
    color: white;
}

.span {
    text-decoration: none;
    color: #707070;
}

.span a {
    color: black;
    text-decoration: none;
}

.span a:hover {
    color: orange;
}
